
body {
    font-family: Arial, sans-serif;
    
  }

  h1 {
    text-align: center;
  }

  input[type="text"],
  button {
    margin: 10px;
  }

  #character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div {
    
    background: white;
    position: relative;
    animation: myfirst 5s 2;
    animation-direction: alternate;
  }
  
  @keyframes myfirst {
    0%   {background: white; left: 0px; top: 0px;}
    25%  {background: white; left: 200px; top: 0px;}
    50%  {background: white; left: 200px; top: 200px;}
    75%  {background: white; left: 0px; top: 200px;}
    100% {background: white; left: 0px; top: 0px;}
  }
  .character-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

  .character-card img {
    width: 100%;
    height: auto;
  }

  .character-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .character-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  nav {
      display:flex;
      align-content:center;
      justify-content:center;
      flex-direction: row;
      

  }
  