
body {
    font-family: Arial, sans-serif;
    
  }

  h1 {
    text-align: center;
  }

  input[type="text"],
  button {
    margin: 10px;
  }

  #character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div {
    
    background: white;
    position: relative;
    animation: myfirst 5s 2;
    animation-direction: alternate;
  }
  
  @keyframes myfirst {
    0%   {background: white; left: 0px; top: 0px;}
    25%  {background: white; left: 200px; top: 0px;}
    50%  {background: white; left: 200px; top: 200px;}
    75%  {background: white; left: 0px; top: 200px;}
    100% {background: white; left: 0px; top: 0px;}
  }
  .character-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

  .character-card img {
    width: 100%;
    height: auto;
  }

  .character-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .character-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  nav {
      display:flex;
      align-content:center;
      justify-content:center;
      flex-direction: row;
      

  }

      /* Agregado: Definición de la animación de zoom en hover */
      .character-card:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
  
      /* Agregado: Estilos para el pop-up */
      .character-card.active {
        z-index: 999;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
  
      /* Agregado: Estilos para el pop-up de la imagen */
      .character-card.active img {
        width: 100%;
        height: auto;
      }
  
      /* Agregado: Estilos para el pop-up de los textos */
      .character-card.active h2,
      .character-card.active p {
        margin: 10px 0;
      }
  